Flask==3.0.3
flask-cors==4.0.1
flask-sqlalchemy==3.1.1
Flask-Migrate==4.0.7
flask-jwt-extended==4.6.0
python-dotenv==1.0.1
google-genai==2.14.0
werkzeug==3.0.3
PyPDF2==3.0.1
python-docx==1.1.2
pandas==2.2.2
openpyxl==3.1.5
langdetect==1.0.9
gunicorn==22.0.0
numpy==1.26.4
Flask-Limiter==3.8.0
requests==2.32.3
psycopg2-binary==2.9.9